
<div class="portfolio-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <!--portfolio heading text-->
        <div class="section-heading-2 portfolio-pattern">
          <h4>Case Study</h4>
          <h3>Our Recent Work</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat rutrum turpis, sit amet hendrerit metus vulputate id.</p>
          <div class="p-pattern">
            <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p-pattern.png?v=1740176159" alt="" width="" height="">
          </div>
        </div>
      </div>
      <!--portfolio view more button-->
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="portfolio-button-area">
          <div class="section-button">
            <a href="#">view more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row portfolio-item-slider">
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
      <!--single potfolio item-->
      <div class="single-portfolio-item">
        <img src="https://cdn.shopify.com/s/files/1/0880/9906/2063/files/p1.png?v=1740176159" alt="" width="" height="">
        <div class="portfolio-item-content">
          <div class="item-icon">
            <a href="#"><i class="fas fa-link"></i></a>
          </div>
          <div class="item-text">
            <h5>Art is every thing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti explicabo, ea dolores.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Coagex slider",
  "tag": "section",
  "settings": [
   
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Coagex slider"
    }
  ]
}
{% endschema %}
