{%- if section.blocks.size > 0 -%}
  <div class="page-width prods-blocks">
    <div class="prods-blocks__container {% if section.settings.reverse_of_section %}prods-blocks__reverse{% endif %}">
          {%- for block in section.blocks -%}
            {%- if block.settings.prod_block != blank -%}
              {%- assign product = block.settings.prod_block -%}
              <div class="prods-blocks__item">
                <div class="item-content">
                  <h4 class="item-content__title">{{ product.title }}</h4>
                  {%comment %}
                    <div class="slider-item__content">
                    {%- if product.content != blank -%}
                      {{ product.content | truncate: 100 }}
                    {%- endif -%}
                    </div>
                  {% endcomment %}
                  <div class="item-content__text">
                    <p>Rerum eveniet eius voluptates consectetur dicta quidem.</p>
                  </div>
                  <div class="item-content__button"><button>Shop now!</button></div>
                </div>
                <div class="item-img">
                  {{ product.featured_image | image_url: width: 200 | image_tag: class: 'item-img__picture', loading: 'lazy' }}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
  
  {% schema %}
  {
    "name": "3 Products Section",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "settings": [
      {
      "type": "checkbox",
      "id": "reverse_of_section",
      "default": false,
      "label": "Reverse of section"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Add product",
        "settings": [
          {
            "type": "product",
            "id": "prod_block",
            "label": "Select product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "3 Products Section"
      }
    ]
  }
  {% endschema %}
  