{%- if section.blocks.size > 0 -%}
  <div class="page-width many-prods-section">
    <div class="many-prods-section__container">
      <div>
        <h2 class="section-title">Three pictures in a block</h2>
        <p class="section-description">
          Add images to all picture selection fields. If you want to place the block elements in reverse order, toggle the switch above the picture selection fields
        </p>
      </div>
          {%- for block in section.blocks -%}
            <div class="three-prods-block {% if block.settings.reverse_block == true %}reverse{% endif %}">
            {%- if block.settings.prod_block != blank -%}
              {%- assign product = block.settings.prod_block -%}
              <div class="three-prods-block__item one-product">
                <div class="item-content">
                  <h4 class="item-content__title">{{ product.title }}</h4>
                  <div class="item-content__text">
                    <p>Rerum eveniet eius voluptates consectetur dicta quidem.</p>
                  </div>
                  <div class="item-content__button"><button>Shop now!</button></div>
                </div>
                <div class="item-img">
                  {{ product.featured_image | image_url: width: 300 | image_tag: class: 'item-img__picture', loading: 'lazy' }}
                </div>
              </div>
              
            {%- endif -%}
            {% if block.settings.product_list != blank %}
                {%- assign products = block.settings.product_list -%}
                <div class="three-prods-block__item two-products">
                {% for product in products %}
                  <div class="two-products__item">
                    <div class="item-content">
                      <h4 class="item-content__title">{{ product.title }}</h4>
                      <div class="item-content__text">
                        <p>Rerum eveniet eius voluptates consectetur dicta quidem.</p>
                      </div>
                    </div>
                    <div class="item-img">
                      {{ product.featured_image | image_url: width: 150 | image_tag: class: 'item-img__picture', loading: 'lazy' }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </div>
          {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
  
  {% schema %}
  {
    "name": "Many Products Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Three pictures in a block",
        "info": "Add images to all picture selection fields. If you want to place the block elements in reverse order, toggle the switch above the picture selection fields"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Products",
        "settings": [
          {
            "type": "checkbox",
            "id": "reverse_block",
            "default": false,
            "label": "Reverse block"
          },
          {
            "type": "product",
            "id": "prod_block",
            "label": "Select product"
          },
          {
            "type": "product_list",
            "id": "product_list",
            "label": "Select Products",
            "limit": 2
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Many Products Section",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
  {% endschema %}
  