{%- if section.blocks.size > 0 -%}
  <div class="page-width custom-prods-section">
    <div class="custom-prods-section__container">
          {%- for block in section.blocks -%}
            {%- if block.settings.prod_block != blank -%}
              {%- assign product = block.settings.prod_block -%}
              <div class="custom-prods-section__item">
                <div class="item-img">
                  {{ product.featured_image | image_url: width: 200 | image_tag: class: 'item-img__picture', loading: 'lazy' }}
                </div>
                <div class="item-content">
                  <h4 class="item-content__title">{{ product.title }}</h4>
                  <div class="item-content__text">
                    <p>Rerum eveniet eius voluptates consectetur dicta quidem.</p>
                  </div>
                  <div class="item-content__button"><button>Shop now!</button></div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
  
  {% schema %}
  {
    "name": "My Products Section",
    "tag": "section",
    "class": "section",
    "settings": [

    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "prod_block",
            "label": "Select product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "My Products Section"
      }
    ]
  }
  {% endschema %}
  