{%- if section.blocks.size > 0 -%}
  <div class="prods-block">
    <div class="page-width prods-block__container">
          {%- for block in section.blocks -%}
            {%- if block.settings.prod_block != blank -%}
              {%- assign product = block.settings.prod_block -%}
              <div class="prods-block__item">
                
                <div class="item-content">
                  <h4 class="item-content__title">{{ product.title }}</h4>
                  
                </div>
                <div class="item-img">
                  {{ product.featured_image | image_url: width: 200 | image_tag }}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
    </div>
  </div>
  {%- endif -%}
<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {%- for block in section.blocks -%}
      {% render block %}
    {%- endfor -%}
  </div>
  
  {% schema %}
  {
    "name": "My Section",
    "tag": "section",
    "class": "section",
    "settings": [
     
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "prod_block",
            "label": "Our product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "My Product Section"
      }
    ]
  }
  {% endschema %}
  