<div class="page-width">
  {% if section.settings.get_image != blank %}
    <div id="get_image" style="display: flex; justify-content: center;">
      <img height="" width="" src="{{ section.settings.get_image | image_url: width: 700 }}">
    </div>
  {% endif %}
</div>
    
{% schema %}
{
  "name": "Image get links",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "get_image",
      "label": "Get image"
    }
  ],
  "presets": [
    {
      "name": "Image get links"
    }
  ]
}
{% endschema %}
