/* Slick slider buttons start */

.slick-slider{

}
.slick-slider .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    font-size: 0;
    line-height: 50px;
    overflow: hidden;
    background-color: #cccccc;
    color: #646464;
    z-index: 1;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s linear opacity;
    opacity: 1;
}
.slick-slider .slick-arrow:hover{
    opacity: 0.8;
}
.slick-slider .slick-arrow::before{
    position: absolute;
    top: 47%;
    left: 46.8%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: inherit;
    letter-spacing: -7px;
    color: currentColor;
    font-weight: 200;
}
.slick-slider .slick-prev{
    left: -25px;
}
.slick-slider .slick-prev::before{
    content: '<<';
}
.slick-slider .slick-next{
    right: -25px;
}
.slick-slider .slick-next::before{
    content: '>>';
}

/* Slick slider buttons end */

.slider-product-proposal{
    padding: 50px 0;
}
    .slider-product-proposal__container{

    }
        .slider-product-proposal__content{

        }
            .slider-product-proposal__title{
                display: block;
                width: 100%;
                font-size: 52px;
                line-height: 1.1;
                text-align: center;
            }
            .slider-product-proposal__subtitle{
                display: block;
                width: 100%;
                font-size: 24px;
                line-height: 1.4;
                text-align: center;
                margin-bottom: 30px;
            }
        .slider-product-proposal__slider{
            
        }
            .slider-product-proposal__slider-list{

            }
                .slider-product-proposal__slider-item{
                    overflow: hidden;
                }
                    a.slider-item__link{
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        cursor: pointer;
                    }
                    .slider-item__image{
                        width: 100%;
                        height: 300px;
                        overflow: hidden;
                        
                    }
                    a.slider-item__link:hover + .slider-item__image .slider-item__picture{
                        transform: scale(1.1);
                    }
                        .slider-item__picture{
                            width: inherit;
                            height: inherit;
                            object-fit: contain;
                            transition: 0.3s linear transform;
                        }
                    .slider-item__title{
                        
                    }
                    .slider-item__content{

                    }
                    .slider-item__price{

                    }

/* custom section 00 START */
.prods-block{
    padding: 50px 0;
}
    .prods-block__container, .prods-block__item{
        display: flex;
        
    }
    .prods-block__container{
        height: 300px;
        width:100%;
        position: relative;
    }
        .prods-block__item{
            box-shadow: 0px 0px 3px #646464;
            overflow: hidden;
            border-radius: 10px;
            
            
        }
        .prods-block__item:nth-child(3n+1){
            width: 50%;
            height: inherit;
            margin-right: 15px;
        }
        .prods-block__item:nth-child(3n+2), .prods-block__item:nth-child(3n+3){
            
        }
        .prods-block__item:nth-child(3n+2){
            
            height: calc(50% - 15px);
            width: 50%;
            margin-left: 15px;
        }
        .prods-block__item:nth-child(3n+3){
            position: absolute;
            bottom:0;
            right: 0;
            height: calc(50% - 15px);
            width: calc(50% - 15px);
        }
  /*
  .double-prod{
      display: flex;
      flex-direction: column;
  }
  */
            .item-content{
                display: flex;
                flex-direction: column;
                color: #ffffff;
                
                overflow: hidden;
            }
            .prods-block__item:nth-child(3n+1) .item-content{
                background-color: #00424E;
                width: 50%;
                padding: 40px 20px;
            }
            .prods-block__item:nth-child(3n+2) .item-content, .prods-block__item:nth-child(3n+3) .item-content{
                background-color: #F58557;
                width: 70%;
                padding: 20px;
            }
                .item-content__title{
                    color: #ffffff;
                    font-size: 28px;
                    font-weight: 600;
                }
                .prods-block__item:nth-child(3n+1) .item-content__title{
                    margin-bottom: 0;
                }
                .prods-block__item:nth-child(3n+2) .item-content__title, .prods-block__item:nth-child(3n+3) .item-content__title{
                    margin: 0;
                }
                .item-content__button button{
                    background-color: #F45B53;
                    color: #ffffff;
                    padding: 10px 20px;
                    border: 0;
                    outline: 0;
                    border-radius: 5px;
                    overflow: hidden;
                }
                .prods-block__item:nth-child(3n+2) .item-content__button, .prods-block__item:nth-child(3n+3) .item-content__button{
                    display: none;
                }
            .item-img{
                
            }


/* custom section 00 END */